.dropdown-menu {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;

}

p {
    margin: 10px 0px 10px 0px
}

button, input[type=button] {
    background-image: none;
    box-shadow: none;
    border-color: transparent
}

pre {
    background-color: #fff
}

@media screen and (max-width: 1200px) {
    button {
        margin-top: 10px !important
    }

    #taskform span.input-group-addon {
        width: 100px
    }

    #taskform .input-group {
        display: inline-table;
        width: 100%;
        border-collapse: separate;
        vertical-align: initial;
        vertical-align: auto; /*ie fix*/
    }
}

#wrap {
    padding: 40px 15px !important
}

.panel-body h3 {
    margin-top: 0px
}

#taskCopy { margin-bottom: 2px}
#taskCopy2 {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 50%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
}

#taskCopy2:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.error-msg-container {
    padding: 10px;
    display: none;
    border-radius: 4px
}

.error-msg-container ul#task-error-header {
    padding-left: 5px;
    margin: 0px
}

.error-msg-container ul#task-error-header li {
    margin: 0px;
    color: #a94442
}

.has-feedback input.form-control {
    padding-right: initial;
    padding-right: auto /*ie fix*/
}
