.dropdown-menu {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;

}

button, input[type=button] {
    background-image: none;
    box-shadow: none;
    border-color: transparent
}

pre {
    background-color: #fff
}

#wrap {
    padding: 40px 15px !important
}

.card-body h3 {
    margin-top: 0px
}

#popup-msg {
    position: fixed;
    z-index: 99; /* Make sure it does not overlap */
    top: 10px;
    right: 10px;
}

@media screen and (max-width: 768px) {
    .form-task-args-lg {
        display: none;
    }
    .form-task-args-md {
        display: block;
    }
}

@media screen and (min-width: 769px) {
     .form-task-args-md {
        display: none;
    }
}

#task-copy {
    position: fixed; /* Fixed/sticky position */
    bottom: 5px; /* Place the button at the bottom of the page */
    left: 50%;
    transform: translateX(-50%);
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
    opacity: 0.7;
}

#task-copy:hover {
    opacity: 1.0;
}

.is-invalid input.form-control {
    padding-right: initial;
    padding-right: auto /*ie fix*/
}
