{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "cmdasync/bootstrap-3.3.7/css/bootstrap.min.css" %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static "cmdasync/bootstrap-3.3.7/css/bootstrap-theme.min.css" %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static "cmdasync/js/html5shiv.min.js" %}"></script>
      <script src="{% static "cmdasync/js/respond.min.js" %}"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "cmdasync/js/jquery-3.2.1.min.js" %}"></script>

    <script src="{% static "cmdasync/js/jquery.form.v4.4.2.min.js" %}"></script>

    {% block extrahead %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script src="{% static "cmdasync/bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
</body>
</html>