{% load i18n %}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-md"
            type="button"
            id="task-app-command"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true">
        <span class="info">{% trans "Choose one" %}</span>
        <span class="glyphicon glyphicon-menu-down"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="task-app-command">
        {% for app_name, values in commands.items %}
            <h6 class="dropdown-item">{{ app_name|upper }}</h6>
            {% for cmd in values %}
                <a class="dropdown-item" href="#{{ app_name }}.{{ cmd }}">{{ cmd|lower }}</a>
            {% endfor %}
            <li role="separator" class="divider"></li>
        {% endfor %}
    </div>
</div>