{% extends "cmdasync/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Run tasks" %}{% endblock %}

{% block extrahead %}
       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "cmdasync/styles.css" %}">
    <script type="application/javascript" src="{% static "cmdasync/js/cmdhandler.js" %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            cmdasyncform.init("#taskOutput");
            var rel_inputs = {
                'args': 'task-args',
                'kwargs': 'task-kwargs',
                'app_command': 'task-app-command'
            };
            // passing parameters.
            $("#task-args").change(function(){ $("#id_args").val($(this).val());});
            $("#task-kwargs").change(function(){ $("#id_kwargs").val($(this).val());});
            var $btnSubmit = $("#task-submit");
            $btnSubmit.click(function() { cmdasyncform.clear_output(); });
            {% if settings.COMMANDS_ASYNC_LIST %}
            $(".dropdown-menu > li > a").on('click', function () {
                var value = $(this).attr("href");
                value = value.substring(1, value.length);

                var items = value.split(".");
                var app_command = items[items.length-1];
                var app_name = items.slice(0, -1).join(".").toUpperCase();

                $("#form-app_name").html(app_name);
                $("#task-app-command").find("> span.info").html(app_command);

                $("input#id_app_command").val(value);
                // stop status update
                cmdasyncform.update_abort();
                cmdasyncform.clear_output();
            });
            {% else %}
            $btnSubmit.click(function(){
                $("#id_app_command").val($("#task-app-command").val());
            });
            {% endif %}

            var requestErrorClean = function() {
                var $error = $(".error-msg-container");
                $error.removeClass("bg-danger");
                $error.hide();
                $("#task-error-header").remove();
                for (var name in rel_inputs) {
                    $("#" + rel_inputs[name]).parent().removeClass("has-error");
                }
            };

            var requestUpdateFinish = function() {
                $("#task-progress").hide();
                var $btnSubmit = $('#task-submit');
                $btnSubmit.removeClass('disabled');
                var $btnCancel = $("#btn-form-cancel");
                $btnCancel.addClass('disabled');
                $btnCancel.unbind("click"); // avoid stack grow
                var $btnRevoke = $("#btn-form-revoke");
                $btnRevoke.addClass('disabled');
                $btnRevoke.unbind("click");
            };

            cmdasyncform.ajax("form#taskform", {
                beforeSubmit: function(arr, $form, options) {
                    var $button = $form.find('button[type=submit]');
                    if ($button.hasClass('disabled'))
                        return false;
                    $button.addClass('disabled');

                    var $btnCancel = $("#btn-form-cancel");
                    $btnCancel.removeClass('disabled');
                    $btnCancel.click(function() {
                        cmdasyncform.update_abort();
                        $(this).addClass('disabled');
                    });

                    var $btnRevoke = $("#btn-form-revoke");
                    $btnRevoke.removeClass('disabled');
                    $btnRevoke.click(cmdasyncform.revoke_task.bind(cmdasyncform));
                },
                error: function(xhr) {
                    requestErrorClean();
                    switch (xhr.status) {
                        case 200:  // need login
                            var url = ["{{ settings.COMMANDS_ASYNC_LOGIN_URL }}"];
                            url.push("?{{ settings.COMMANDS_ASYNC_REDIRECT_FIELD_NAME }}=");
                            url.push("{% url 'command-async:index' %}");
                            window.location = url.join("");
                            break;
                        case 400:
                            var data = xhr.responseJSON;
                            var $input, $inputParent;
                            var $error = $(".error-msg-container");
                            $error.addClass("bg-danger");
                            var $errorGroup = $("<ul id='task-error-header'></ul>");
                            for (var name in data.form.errors) {
                                $input = $("#" + rel_inputs[name]);
                                $inputParent = $input.parent();
                                $inputParent.addClass("has-error has-feedback");
                                $errorGroup.append("<li class='.error help-block'>" + data.form.errors[name][0] + "</li>");
                            }
                            $error.append($errorGroup);
                            $error.show();
                            break;
                    }
                    requestUpdateFinish();
                }
            });
            cmdasyncform.add_event_callback("updating", function($form) {
                var count = $form.data("count") + 1;
                $("#taskOutput").text("{% trans "Running command..." %}");
                var $progress = $("#task-progress");
                $progress.find("div.progress-bar")
                    .css("width", count + "%")
                    .attr('aria-valuenow', count);
                $progress.show();
                if (count > 100) count = 0;
                $form.data("count", count);
            });
            cmdasyncform.add_event_callback("form-valid",
                function(responseText, statusText, xhr, $form) {
                $form.data("count", 0);
                requestErrorClean();
            });

            cmdasyncform.add_event_callback("update-finish",
                function(form) {
                requestUpdateFinish();
            })
        });
    </script>
{% endblock %}

{% block body %}
<div class="container" id="wrap">
    <div class="panel panel-default" id="task-panel">
        <div class="panel-body">
            {% block panelbody %}
            <h3>{% trans "Checking and updating environment" %}</h3>
            <p>
                <strong>{% trans "Atenção:" %}</strong>
                {% trans "It is strongly recommended that the systembe usedwith the aid of an approved technician." %}
            </p>
            {% endblock %}
            <p class="error-msg-container"></p>
            <form class="form-inline" id="taskform" action="." method="post">{% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        {% if settings.COMMANDS_ASYNC_LIST %}
                            <span class="input-group-addon" id="form-app_name">{% trans "COMMAND" %}</span>
                            {% include "cmdasync/form-dropdown.html" %}
                        {% else %}
                            <span class="input-group-addon" id="form-app_name">{% trans "COMMAND" %}</span>
                            <input type="text" id="task-app-command" class="form-control"
                                   autocomplete="on" placeholder=""
                                   aria-describedby="basic-addon2">
                        {% endif %}
                 
                    </div>
                    
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">{% trans "args" %}</span>
                            <input type="text" id="task-args" class="form-control" autocomplete="off"
                                   placeholder="{% trans "Insert arguments" %}"
                                   aria-describedby="basic-addon2">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">{% trans "kwargs" %}</span>
                            <input type="text" id="task-kwargs" class="form-control" autocomplete="off"
                                   placeholder="{% trans "Insert arguments" %}"
                                   aria-describedby="basic-addon2">
                        </div>
                </div>
                {{ form.as_ul }}
                <button type="submit" id="task-submit" class="btn btn-success">Execute</button>
                <button type="button" id="btn-form-cancel" class="btn btn-warning disabled">{% trans "Cancel" %}</button>
                <button type="button" id="btn-form-revoke" class="btn btn-danger disabled">{% trans "Revoke" %}</button>
            </form>
        </div>
        <div class="panel-footer">
            <div class="progress" id="task-progress" style="display: none">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                   aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span>
              </div>
            </div>
            <pre id="taskOutput">{% trans "Execute a command" %}</pre>
            <div class="input-group">
            <input type="button" class="btn btn-primary btn-xs disabled" value="{% trans "Copy" %}">
        </div>
    </div>
</div>
{{ body.super }}
{% endblock %}