{% extends "cmdasync/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Run tasks" %}{% endblock %}

{% block extrahead %}
       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "cmdasync/styles.css" %}">
    <script type="application/javascript" src="{% static "cmdasync/js/cmdhandler.js" %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            cmdasyncform.init("#taskOutput");
            var rel_inputs = {
                'args': 'task-args',
                'kwargs': 'task-kwargs',
                'app_command': 'task-app-command'
            };
            $(window).scroll(function (eventData) {
                var $button = $("#taskCopy");
                var $button2 = $("#taskCopy2");
                var offset = $(this).scrollTop();
                if (offset > 60) {
                    $button.hide();
                    $button2.show();
                } else {
                    $button.show();
                    $button2.hide()
                }
            });
            $(".taskCopy").click(function(){
               cmdasyncform.copyToClipboard("#taskOutput");
            });
            // passing parameters.
            $("#task-args").change(function(){ $("#id_args").val($(this).val());});
            $("#task-kwargs").change(function(){ $("#id_kwargs").val($(this).val());});
            var $btnSubmit = $("#task-submit");
            $btnSubmit.click(function() { cmdasyncform.clear_output(); });
            {% if settings.COMMANDS_ASYNC_LIST %}
            $(".dropdown-menu > li > a").on('click', function () {
                var value = $(this).attr("href");
                value = value.substring(1, value.length);

                var items = value.split(".");
                var app_command = items[items.length-1];
                var app_name = items.slice(0, -1).join(".").toUpperCase();

                $("#form-app_name").html(app_name);
                $("#task-app-command").find("> span.info").html(app_command);

                $("input#id_app_command").val(value);
                // stop status update
                cmdasyncform.update_abort();
                cmdasyncform.clear_output();
            });
            {% else %}
            $btnSubmit.click(function(){
                $("#id_app_command").val($("#task-app-command").val());
            });
            {% endif %}

            var requestErrorClean = function() {
                $(".invalid-feedback").remove();
                for (var name in rel_inputs) {
                    $("#" + rel_inputs[name]).removeClass("is-invalid");
                }
            };

            var requestUpdateFinish = function() {
                $("#task-progress").hide();
                var $btnSubmit = $('#task-submit');
                $btnSubmit.removeClass('disabled');
                var $btnCancel = $("#btn-form-cancel");
                $btnCancel.addClass('disabled');
                $btnCancel.unbind("click"); // avoid stack grow
                var $btnRevoke = $("#btn-form-revoke");
                $btnRevoke.addClass('disabled');
                $btnRevoke.unbind("click");
            };

            cmdasyncform.ajax("form#taskform", {
                beforeSubmit: function(arr, $form, options) {
                    var $button = $form.find('button[type=submit]');
                    if ($button.hasClass('disabled'))
                        return false;
                    $button.addClass('disabled');

                    var $btnCancel = $("#btn-form-cancel");
                    $btnCancel.removeClass('disabled');
                    $btnCancel.click(function() {
                        cmdasyncform.update_abort();
                        $(this).addClass('disabled');
                    });

                    var $btnRevoke = $("#btn-form-revoke");
                    $btnRevoke.removeClass('disabled');
                    $btnRevoke.click(cmdasyncform.revoke_task.bind(cmdasyncform));
                },
                error: function(xhr) {
                    requestErrorClean();
                    switch (xhr.status) {
                        case 200:  // need login
                            var url = ["{{ settings.COMMANDS_ASYNC_LOGIN_URL }}"];
                            url.push("?{{ settings.COMMANDS_ASYNC_REDIRECT_FIELD_NAME }}=");
                            url.push("{% url 'command-async:index' %}");
                            window.location = url.join("");
                            break;
                        case 400:
                            var data = xhr.responseJSON;
                            var $input, $inputParent;
                            var $error = $("#alert-message");
                            $error.addClass("alert-danger");
                            var $feedback = $('<div class="invalid-feedback"></div>');
                            for (var name in data.form.errors) {
                                $input = $("#" + rel_inputs[name]);
                                $input.addClass("is-invalid");
                                $input.parent().append($feedback.clone().html(data.form.errors[name][0]));
                            }
                            break;
                    }
                    requestUpdateFinish();
                }
            });
            cmdasyncform.add_event_callback("updating", function($form) {
                var count = $form.data("count") + 1;
                $("#taskOutput").text("{% trans "Running command..." %}");
                var $progress = $("#task-progress");
                $progress.find("div.progress-bar")
                    .css("width", count + "%")
                    .attr('aria-valuenow', count);
                $progress.show();
                if (count > 100) count = 0;
                $form.data("count", count);
            });
            cmdasyncform.add_event_callback("form-valid",
                function(responseText, statusText, xhr, $form) {
                $form.data("count", 0);
                requestErrorClean();
            });

            cmdasyncform.add_event_callback("update-finish",
                function(form) {
                requestUpdateFinish();
            })
        });
    </script>
{% endblock %}

{% block body %}
<div class="container" id="wrap">
    <div class="card" id="task-panel">
        <div class="card-body">
            {% block panelbody %}
            <h3>{% trans "Checking and updating environment" %}</h3>
            <p>
                <strong>{% trans "Atenção:" %}</strong>
                {% trans "It is strongly recommended that the systembe usedwith the aid of an approved technician." %}
            </p>
            {% endblock %}
            <form id="taskform" action="." method="post">{% csrf_token %}
                <div class="form-group">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="form-app_name">{% trans "COMMAND" %}</div>
                        </div>
                        {% if settings.COMMANDS_ASYNC_LIST %}
                            {% include "cmdasync/form-dropdown.html" %}
                        {% else %}
                            <label for="task-app-command"></label>
                            <input type="text" id="task-app-command" class="form-control" autocomplete="on"
                                   placeholder="" aria-describedby="form-app_name">
                        {% endif %}
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="btnGroupAddon">{% trans "args" %}</div>
                                </div>
                                <label for="task-args"></label>
                                <input type="text" id="task-args" class="form-control" autocomplete="off"
                                       placeholder="{% trans "Insert arguments" %}" aria-describedby="btnGroupAddon">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="btnGroupAddon1">{% trans "kwargs" %}</div>
                                </div>
                                <label for="task-kwargs"></label>
                                <input type="text" id="task-kwargs" class="form-control" autocomplete="off"
                                       placeholder="{% trans "Insert arguments" %}" aria-describedby="btnGroupAddon1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.as_ul }}
                    <button type="submit" id="task-submit" class="btn btn-success">Execute</button>
                    <button type="button" id="btn-form-cancel"
                            class="btn btn-warning disabled">{% trans "Cancel" %}</button>
                    <button type="button" id="btn-form-revoke"
                            class="btn btn-danger disabled">{% trans "Revoke" %}</button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="progress" id="task-progress" style="display: none">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                   aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span>
              </div>
            </div>
            <div class="input-group">
                <input type="button" id="taskCopy" class="btn btn-primary btn-sm taskCopy" value="{% trans "Copy" %}">
            </div>
            <pre id="taskOutput" >{% trans "Execute a command" %}</pre>
            <div class="input-group">
                <input type="button" id="taskCopy2" class="btn btn-primary btn-sm taskCopy" value="{% trans "Copy" %}">
            </div>
        </div>
    </div>
</div>
{{ body.super }}
{% endblock %}