{% extends "cmdasync/base.html" %}

{% block title %}Run tasks{% endblock %}

{% block extrahead %}
    <script type="application/javascript" xmlns="http://www.w3.org/1999/html">
        $(document).ready(function(){
            $(".dropdown-menu > li > a").on('click', function () {
                var value = $(this).attr("href");

                //alert("change: " + value);

                $("#dropdownTaskMenu > span.info").html(value);
            });
        });
    </script>
{% endblock %}

{% block body %}
    <form> {{form}} </form>

    <div class="container">
        <div class="panel panel-default">
        <div class="panel-body">
            <div class="dropdown">
                <button class="btn btn-default btn-sm dropdown-toggle"
                        type="button"
                        id="dropdownTaskMenu"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="info">Choose one</span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownTaskMenu">
                {% for app_name, values in commands.items %}
                    <li class="dropdown-header">{{ app_name|upper }}</li>
                    {% for cmd in values %}
                        <li><a href="#{{ cmd }}">{{ cmd|lower }}</a></li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                {% endfor %}
                </ul>

            </div>
        </div>
        <div class="panel-footer">
            <pre id="taskOutput">OUTPUT</pre>
        </div>
    </div>
</div>
{{ body.super }}
{% endblock %}