{% load static %}
{% load i18n %}
<div class="form-row form-task-args-lg">
    <div class="col">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">{% trans "args" %}</div>
            </div>
            <label for="task-args"></label>
            <input type="text" id="task-args" class="form-control" autocomplete="off"
                   placeholder="{% trans "Insert arguments" %}" aria-describedby="btnGroupAddon">
        </div>
    </div>
    <div class="col">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon1">{% trans "kwargs" %}</div>
            </div>
            <label for="task-kwargs"></label>
            <input type="text" id="task-kwargs" class="form-control" autocomplete="off"
                   placeholder="{% trans "Insert arguments" %}" aria-describedby="btnGroupAddon1">
        </div>
    </div>
</div>